/*pager*/
#pager {
    font-size: 56px;
}
#pageNumber {
    color: #f278ad;
}
/*mobile view*/
#mobile-view > div {
    padding: 10px 0;
}
/*arrow controls*/
.arrow{
    position: relative;
    top: 15em;
    z-index: 1;
}
.arrow.left-arrow{
    left: -13.5%;
}
.arrow.right-arrow{
    right: -14.5%;
}
/*ribbon*/
.ribbon-left{
    position: relative;
    top: 22em;
    left: -90%;
    z-index: 1;
}
.ribbon-right{
    position: relative;
    top: 22em;
    right: 0;
    z-index: 1;
}
/*book*/
.book {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2;
}
.book .page{
    height: 100%;
    padding: 0 !important;
}
.book .page img{
    max-width: 100%;
    height: 100%;
    padding: 0 !important;
}
.book .hard{
    background:#66CCCC !important;
    color:#333;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    font-weight:bold;
}
/*helpers*/
.O2-blue {
    color: #66CCCC;
}
